ipykernel
pydantic

# 2.0 Getting Started
langchain
python-dotenv
ipykernel

# 3.0 Data Ingestion
langchain-community
ipykernel
langchain
pypdf
bs4
pymupdf
wikipedia

# 4.0 Data Transformer
langchain-text-splitters

# 5.1 OpenAIEmbedding
langchain-openai
python-dotenv
chromadb

# 5.2 OllamaEmbedding
langchain-community

# 5.3 HuggingFaceEmbedding
sentence-transformers
langchain-huggingface
langchain
tqdm
# 6.1 Faiss
faiss-cpu
# 6.2 Chroma
chromadb
langchain-chroma

# 7.1 Getting Started
langchain
langchain-community
langchain-core
python-dotenv
langsmith    # Only needed if you're using LangSmith tracking

# 7.2 Simple GenAI App
beautifulsoup4             # HTML parsing
langchain                 # Core LangChain framework
langchain-community      # Community integrations (e.g., Ollama, FAISS, loaders)
langchain-core           # Core building blocks (Document, Prompt, Chains)
faiss-cpu                # FAISS vector database
python-dotenv            # Load environment variables from .env file
ollama                    # Ollama LLM integration
requests                  # HTTP requests

